#java specific
*.class

#netbeans ignore personal stuff 
nbproject/private/


## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

## other
war/WEB-INF/appengine-generated
war/WEB-INF/classes
war/WEB-INF/deploy
war/WEB-INF/lib
gwt-unitCache
.google_apis
.gwt
.settings
